.flexContainer {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
    flex-wrap: nowrap;
}

.flexContainer {
    justify-content: end;
    align-items: start;
}

/* Flex grow */
.flexItem1 {
    flex-grow: 1; /* 1 / 4 */
}
.flexItem2 {
    flex-grow: 2; /* 1 / 2 */
}
.flexItem3 {
    flex-grow: 1; /* 1 / 4 */
}

/* Flex shrink */ 
.flexItem1 {
    flex-shrink: 2; /* 2 / 5 */
}
.flexItem2 {
    flex-shrink: 1; /* 1 / 5 */
}
.flexItem3 {
    flex-shrink: 2; /* 2 / 5 */
}